<section id="slider"><!--slider-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="#/test2">Explorar</a></li>
                            <li><a href="#/survey">Questionário</a></li>
                            <!--<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>-->
                            <!--<ul role="menu" class="sub-menu">-->
                            <!--<li><a href="blog.html">Blog List</a></li>-->
                            <!--<li><a href="blog-single.html">Blog Single</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li><a href="#/404">404</a></li>-->
                            <!--<li><a href="contact-us.html">Contact</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Buscar..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-12">
                                <h1><span>E</span>-QOP</h1>

                                <h2>Estudo para Pesquisa de Mestrado</h2>

                                <p>Por favor, leia as instruções abaixo.</p>

                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-12">
                                <h1><span>E</span>-QOP</h1>

                                <h2>Realização dos Testes</h2>

                                <p>Explore as categorias de produtos disponíveis</p>

                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-12">
                                <h1><span>E</span>-QOP</h1>

                                <h2>Questionário da Pesquisa</h2>

                                <p>Queremos saber sua opinião. Obrigado!</p>
                            </div>
                        </div>

                    </div>

                    <!--<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">-->
                    <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                    <!--<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">-->
                    <!--<i class="fa fa-angle-left"></i>-->
                    <!--</a>-->
                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 100px;">
            <div class="col-sm-12">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3>Estudo para Pesquisa de Mestrado - Instruções</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            Bem-vindo a pesquisa de mestrado "Compra Orientada a Qualidade - Fase 1".
                            Esta pesquisa tem como objetivo avaliar a processo de busca por produtos através do uso de filtros em lojas virtuais.
                        </li>
                        <li class="list-group-item">
                            Para começar a nossa pesquisa, clique no item de menu "Explorar", comece a navegar entre as categoria de produtos e
                            avalie a diferença entre as três opções de "Tipo de Filtro" que serão exibidas lado a lado para cada categoria.
                        </li>
                        <li class="list-group-item">
                            Ao final da navegação por todas as categorias, por favor, clique no item de menu "Questionário".
                            O questionário é rápido e exigirá apenas alguns cliques, mas será essencial para a nossa pesquisa.
                        </li>
                        <li class="list-group-item">
                            Desde já agradecemos a sua participação!
                        </li>
                        <li class="list-group-item">
                            Em caso de dúvidas ou sugestões, favor entrar em contato através do e-mail <b>igor.veloso.custodio@gmail.com</b>.
                        </li>
                        <li class="list-group-item">
                            Obrigado, Igor Veloso
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->