<section id="slider"><!--slider-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="#" class="active">Inicial</a></li>
                            <li class="dropdown"><a href="">Testes<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="#/test/1">Teste 1</a></li>
                                    <li><a href="#/test/2">Teste 2</a></li>
                                    <li><a href="#/test/3">Teste 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#/survey">Questionário</a>
                                <!--<ul role="menu" class="sub-menu">-->
                                <!--<li><a href="shop.html">Products</a></li>-->
                                <!--<li><a href="#/details">Product Details</a></li>-->
                                <!--<li><a href="checkout.html">Checkout</a></li>-->
                                <!--<li><a href="cart.html">Cart</a></li>-->
                                <!--<li><a href="login.html">Login</a></li>-->
                                <!--</ul>-->
                            </li>
                            <!--<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>-->
                            <!--<ul role="menu" class="sub-menu">-->
                            <!--<li><a href="blog.html">Blog List</a></li>-->
                            <!--<li><a href="blog-single.html">Blog Single</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li><a href="#/404">404</a></li>-->
                            <!--<li><a href="contact-us.html">Contact</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Search"/>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-8">
                                <h1><span>E</span>-QOP</h1>
                                <h2>Estudo para Pesquisa de Mestrado</h2>
                                <p>Obrigado por participar! Clique no menu "Testes" acima para navegar nas 3 opções disponíveis.</p>
                                <p>Lembrando que este ambiente apenas simula uma loja online, portanto nem todos os links são realmente válidos.</p>
                                <p>Todos as imagens de produto são meramente ilustrativas, nenhuma identificação financeira é exigida e portanto nenhuma compra será realmente efetuada.</p>
                                <a ng-href="#/test/1" type="button" class="btn get">Teste 1</a>
                            </div>
                            <div class="col-sm-4">
                                <img src="images/menu.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-8">
                                <h1><span>E</span>-QOP</h1>
                                <h2>Realização dos Testes</h2>
                                <p>Não se preocupe com o resultado da pesquisa dos produtos em si. Nosso objetivo é tentar capturar sua percepção na utilização do <b>ambiente</b>.</p>
                                <p>Fique a vontade para alterar os valores de filtro, clicar nos produtos, adicionar ao carrinho e adicionar a lista de desejos.</p>
                                <p>Em cada teste, explore as categorias de produtos disponíveis e perceba a mudança nos valores dos filtros.</p>
                                <a ng-href="#/test/1" type="button" class="btn get">Teste 1</a>
                            </div>
                            <div class="col-sm-4">
                                <img src="images/filter.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-8">
                                <h1><span>E</span>-QOP</h1>
                                <h2>Resposta do Questionário</h2>
                                <p>Após a navegação, pedimos mais 3 minutinhos para responder o nosso questionário. O link também se encontra no menu acima.</p>
                                <p>Desde já agradecemos a sua participação!</p>
                                <p>Qualquer problema, favor entrar em contato através do e-mail <b>igor.veloso.custodio@gmail.com</b></p>
                                <a ng-href="#/survey" type="button" class="btn get">Responder</a>
                            </div>
                            <div class="col-sm-4">
                                <img src="images/pesquisa.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <!--<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">-->
                        <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                    <!--<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">-->
                        <!--<i class="fa fa-angle-left"></i>-->
                    <!--</a>-->
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->