<section id="slider"><!--slider-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li class="dropdown"><a href="">Ir para Loja<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="#/test/1">Filtro Tipo 1</a></li>
                                    <li><a href="#/test/2">Filtro Tipo 2</a></li>
                                    <li><a href="#/test/3">Filtro Tipo 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#/survey">Questionário</a>
                                <!--<ul role="menu" class="sub-menu">-->
                                <!--<li><a href="shop.html">Products</a></li>-->
                                <!--<li><a href="#/details">Product Details</a></li>-->
                                <!--<li><a href="checkout.html">Checkout</a></li>-->
                                <!--<li><a href="cart.html">Cart</a></li>-->
                                <!--<li><a href="login.html">Login</a></li>-->
                                <!--</ul>-->
                            </li>
                            <!--<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>-->
                            <!--<ul role="menu" class="sub-menu">-->
                            <!--<li><a href="blog.html">Blog List</a></li>-->
                            <!--<li><a href="blog-single.html">Blog Single</a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li><a href="#/404">404</a></li>-->
                            <!--<li><a href="contact-us.html">Contact</a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Buscar..."/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-8">
                                <h1><span>E</span>-QOP</h1>

                                <h2>Estudo para Pesquisa de Mestrado</h2>

                                <p>Por favor, leia as instruções abaixo.</p>

                                <a ng-href="#/test/1" type="button" class="btn btn-warning">
                                    <span><i class="fa fa-share"></i></i>
                                        Buscar produtos
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <img src="images/menu.png" class="girl img-responsive" alt=""/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-8">
                                <h1><span>E</span>-QOP</h1>

                                <h2>Realização dos Testes</h2>

                                <p>Explore as categorias de produtos disponíveis</p>

                                <a ng-href="#/test/1" type="button" class="btn btn-warning">
                                    <span><i class="fa fa-share"></i></i>
                                        Buscar produtos
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <img src="images/filter.jpg" class="girl img-responsive" alt=""/>
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-8">
                                <h1><span>E</span>-QOP</h1>

                                <h2>Questionário da Pesquisa</h2>

                                <p>Queremos saber sua opinião. Obrigado!</p>

                                <a ng-href="#/survey" type="button" class="btn btn-warning">
                                    <span><i class="fa fa-pencil-square-o"></i>
                                        Responder
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <img src="images/pesquisa.jpg" class="girl img-responsive" alt=""/>
                            </div>
                        </div>

                    </div>

                    <!--<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">-->
                    <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                    <!--<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">-->
                    <!--<i class="fa fa-angle-left"></i>-->
                    <!--</a>-->
                </div>

            </div>
        </div>

        <div class="row" style="margin-top: 100px;">
            <div class="col-sm-12">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3>Estudo para Pesquisa de Mestrado - Instruções</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            Bem-vindo a pesquisa de mestrado "Compra Orientada a Qualidade".
                            Esta pesquisa tem como objetivo avaliar a processo de busca por produtos através do uso de filtros em lojas virtuais.
                            Você poderá explorar todos os recursos da loja, mas não se preocupe já que nenhuma informação de identificação ou de pagamento será necessária.
                        </li>
                        <li class="list-group-item">
                            Para começar a nossa pesquisa, clique no item de menu "Ir para Loja", escolha uma categoria de produtos e
                            comece a navegar nos produtos explorando os filtros disponíveis bem como os detalhes dos produtos e a adição no
                            carrinho de compras ou na lista de desejos.
                        </li>
                        <li class="list-group-item">
                            Como já mencionado, a loja virtual simula um ambiente real,
                            portanto, não se preocupe com o resultado da pesquisa após utilizar os filtros dos produtos.
                            Estes são meramente ilustrativos e visam compreender a sua utilização do ambiente.
                        </li>
                        <li class="list-group-item">
                            Ao final da navegação por todas as categorias, por favor, clique no item de menu "Questionário".
                            O questionário é rápido e exigirá apenas alguns cliques e será essencial para a nossa pesquisa.
                        </li>
                        <li class="list-group-item">
                            Desde já agradecemos a sua participação!
                        </li>
                        <li class="list-group-item">
                            Em caso de dúvidas ou sugestões, favor entrar em contato através do e-mail <b>igor.veloso.custodio@gmail.com</b>.
                        </li>
                        <li class="list-group-item">
                            Obrigado, Igor Veloso
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->