<section>

    <div id="container" class="container" ng-controller="SurveyCtrl">

        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="mainmenu pull-left">
                    <ul class="nav navbar-nav collapse navbar-collapse">
                        <li class="dropdown"><a href="">Retornar aos Testes<i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a ng-click="saveSurvey(true)" href="#/test/1">Teste 1</a></li>
                                <li><a ng-click="saveSurvey(true)" href="#/test/2">Teste 2</a></li>
                                <li><a ng-click="saveSurvey(true)" href="#/test/3">Teste 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h2 align="right">Questionário</h2>

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <span><i class="fa fa-microphone"></i>
                                Agradecemos sua participação até agora! Seria muito importante saber sua opinião através das
                                perguntas abaixo.
                            </span>
                        </li>
                        <!--<li class="list-group-item list-group-item-danger">-->
                        <!--<span><i class="fa fa-floppy-o"></i>-->
                        <!--Lembre-se de salvar (mesmo que parcialmente) as suas respostas antes de sair desta página.-->
                        <!--</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3>Em relação as categorias de produto</h3>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <label class="control-label">
                                    <span><i class="fa fa-location-arrow"></i>
                                        Informe o seu grau de conhecimento sobre os produtos de cada categoria abaixo.
                                    </span>
                                </label>

                                <!-- Caso específico de Necessidades -->
                                <div class="text-center filter" ng-repeat="cat in categories">
                                    <h4>{{cat.name}}</h4>

                                    <label>Baixo</label>

                                    <label class="btn btn-default" ng-repeat="opt in options"
                                           ng-class="{'btn-info' : currentSurvey.knowled[$parent.$index] == opt.value}">
                                        <input value="{{opt.value}}" type="radio"
                                               ng-model="currentSurvey.knowled[$parent.$index]">
                                        {{opt.desc}}
                                    </label>

                                    <label>Alto</label>

                                    <!--<div ui-slider ng-model="currentSurvey.knowled[$index]"-->
                                         <!--min="0" class="opinionSlider" max="10"></div>-->
                                    <!--<b class="pull-left">Nada</b> <b class="pull-right">Especialista</b>-->

                                    <div class="row">&nbsp;</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="panel panel-primary">-->

        <!--<div class="panel-heading">-->
        <!--<h3>Em relação as categorias de produto</h3>-->
        <!--</div>-->

        <!--<div class="panel-body">-->

        <!--<div class="row">-->
        <!--<div class="col-md-6">-->
        <!--<ul class="list-group">-->
        <!--<li class="list-group-item">-->
        <!--<label class="control-label">-->
        <!--<span><i class="fa fa-location-arrow"></i>-->
        <!--Selecione as categorias que você conhece <strong>bem</strong>:-->
        <!--</span>-->
        <!--</label>-->

        <!--<div class="checkbox" ng-repeat="cat in categories">-->
        <!--<label for="checkboxes1-{{$index}}" ng-hide="currentSurvey.unknown[$index].answer == true">-->
        <!--<input type="checkbox" name="checkboxes1" id="checkboxes1-{{$index}}" value="cat.id"-->
        <!--ng-model="currentSurvey.known[$index].answer">-->
        <!--{{cat.name}}-->
        <!--</label>-->
        <!--<label ng-show="currentSurvey.unknown[$index].answer == true" ng-class="{'tachado' : currentSurvey.unknown[$index].answer == true}">-->
        <!--{{cat.name}}-->
        <!--</label>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
        <!--<ul class="list-group">-->
        <!--<li class="list-group-item">-->
        <!--<label class="control-label">-->
        <!--<span><i class="fa fa-location-arrow"></i>-->
        <!--Selecione as categorias que você conhece <strong>pouco</strong>:-->
        <!--</span>-->
        <!--</label>-->

        <!--<div class="checkbox" ng-repeat="cat in categories">-->
        <!--<label for="checkboxes2-{{$index}}" ng-hide="currentSurvey.known[$index].answer == true">-->
        <!--<input type="checkbox" name="checkboxes2" id="checkboxes2-{{$index}}" value="cat.id"-->
        <!--ng-model="currentSurvey.unknown[$index].answer">-->
        <!--{{cat.name}}-->
        <!--</label>-->
        <!--<label ng-show="currentSurvey.known[$index].answer == true" ng-class="{'tachado' : currentSurvey.known[$index].answer == true}">-->
        <!--{{cat.name}}-->
        <!--</label>-->
        <!--</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <hr>

        <div class="row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">
                        <span><i class="fa fa-undo"></i>
                            Abaixo há 3 conjuntos <b>(iguais)</b> de perguntas para cada Tipo de Filtro (1, 2 ou 3) que foi utilizado.
                            <p>Retorne ao menu acima caso não tenha terminado ainda de navegar em todos os Tipos e/ou
                                categorias.</p>
                        </span>
                    </li>
                    <li class="list-group-item list-group-item-warning">
                        <span><i class="fa fa-pencil-square-o"></i>
                            Para cada pergunta, escolha uma opção entre (1) <b>"Discordo fortemente"</b> e (5) <b>"Concordo
                                plenamente"</b>
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="panel panel-primary" ng-repeat="test in [1, 2, 3]">
            <div class="panel-heading">
                <h3>Sobre o filtro de pesquisa de produtos do <strong>Tipo de Filtro {{test}}</strong></h3>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="quest in aboutTest[$index].question">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">{{quest.text}}:</label>
                            </div>
                            <div class="col-md-1">
                                <label class="control-label">&nbsp;</label>
                            </div>
                            <div class="col-md-8">
                                <label>Discordo fortemente</label>
                                <label class="btn btn-default" ng-repeat="opt in options"
                                       ng-class="{'btn-info' : currentSurvey.aboutTest[test].question[$parent.$index].value == opt.value}">
                                    <input value="{{opt.value}}" type="radio"
                                           ng-model="currentSurvey.aboutTest[test].question[$parent.$index].value">
                                    {{opt.desc}}
                                </label>
                                <label>Concordo plenamente</label>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3>Comentários Finais</h3>
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="control-label">
                            <span><i class="fa fa-bullhorn"></i>
                                Sugestões, críticas ou comentários em geral:
                            </span>
                        </label>
                        <textarea ng-model="currentSurvey.freeText" maxlength="20000"
                                  style="border: solid 1px #ccc; border-radius: 3px;"></textarea>
                        <span class="pull-right">{{20000 - currentSurvey.freeText.length}} caracteres restantes</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success" type="button" ng-click="saveSurvey()">
                    <span><i class="fa fa-floppy-o"></i>&nbsp;Salvar respostas</span>
                </button>
            </div>
        </div>

    </div>
</section>