<section>
    <div class="container" ng-controller="TestCtrl">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Escolha uma categoria</h2>

                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div ng-repeat="cat in categories" class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#/test/{{testCase}}/cat/{{cat.id}}"
                                                           ng-class="idcat==cat.id ? 'active-option' : ''">{{cat.name}}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <!--/category-products-->

                    <h2>Refinar por:</h2>
                    <button ng-click="refine()"><i class="fa fa-filter"></i></button>
                    <!--filter-->
                    <div ng-repeat="feat in features">
                        <!-- Feature com RANGE {min & max} -->
                        <div class="text-center filter" ng-if="feat.typeMeasure == 1">
                            <h4>{{feat.name}} - Entre {{feat.filterValue[0] ? feat.filterValue[0] : feat.optionValues[0].valueOption}} e {{feat.filterValue[1] ? feat.filterValue[1] : feat.optionValues[1].valueOption}}</h4>
                            <div ui-slider="{range: true}" ng-model="feat.filterValue"
                                 min="{{feat.optionValues[0].valueOption}}"
                                 max="{{feat.optionValues[1].valueOption}}"></div>
                            <b class="pull-left">{{feat.optionValues[0].valueOption}}</b> <b class="pull-right">{{feat.optionValues[1].valueOption}}</b>
                        </div>

                        <!-- Feature com OPTIONS -->
                        <div class="filter" ng-if="feat.typeMeasure == 2">
                            <h4>{{feat.name}} - {{feat.filterValue}}</h4>
                            <div class="form-group clearfix" ng-repeat="opt in feat.optionValues">
                                <input type="radio" ng-model="feat.filterValue" value="{{opt.id}}" /><label>{{opt.valueOption}}</label>
                            </div>
                        </div>

                        <!-- Caso específico de Necessidades -->
                        <div class="text-center filter" ng-if="feat.typeMeasure == 3">
                            <h4>{{feat.name}} - {{feat.filterValue}}%</h4>
                            <div ui-slider ng-model="feat.filterValue"
                                 min="0"
                                 max="100"></div>
                            <b class="pull-left">0%</b> <b class="pull-right">100%</b>
                        </div>

                    </div>


                    <!--/filter-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">

                <div align="center">
                    <paging class="large"
                            page="page"
                            page-size="pageSize"
                            total="total"
                            show-prev-next="true"
                            paging-action="doPaging(page, pageSize, total)">
                    </paging>
                </div>

                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Resultado</h2>

                    <div ng-repeat="product in productPage" class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img ng-src="images/products/{{product.image}}" alt=""/>

                                    <h2>{{product.price | currency}}</h2>

                                    <p>{{product.name}}</p>
                                    <a href="" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Adicionar ao carrinho
                                    </a>
                                </div>
                                <div class="product-overlay">
                                    <img ng-src="images/products/{{product.image}}" alt=""/>

                                    <div class="overlay-content">
                                        <h2>{{product.price | currency}}</h2>

                                        <p>{{product.name}}</p>
                                        <a href="" class="btn btn-default add-to-cart"><i
                                                class="fa fa-shopping-cart"></i>Adicionar ao carrinho</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <ul class="nav nav-pills nav-justified">
                                    <li><a href=""><i class="fa fa-plus-square"></i>Lista de Desejos</a></li>
                                    <li><a href=""><i class="fa fa-plus-square"></i>Comparar</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--features_items-->

                <div align="center">
                    <paging class="large"
                            page="page"
                            page-size="pageSize"
                            total="total"
                            show-prev-next="true"
                            paging-action="doPaging(page, pageSize, total)">
                    </paging>
                </div>
            </div>


        </div>
    </div>
</section>