<section>
    <div class="container" ng-controller="TestCtrl">

        <div class="category-tab"><!--category-tab-->
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                <h3>Escolha uma categoria: </h3>
                <ul class="nav nav-tabs">
                    <li ng-repeat="cat in categories">
                        <a ng-click="changeCategory({{cat.id}})">{{cat.name}}</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2 ng-if="idcat > 0">Refinar por:</h2>
                    <!--<button ng-click="refine()"><i class="fa fa-filter"></i></button>-->
                    <!--filter-->
                    <div ng-repeat="feat in features">

                        <hr>
                        <!-- Feature com RANGE {min & max} -->
                        <div class="text-center filter"
                             ng-if="feat.typeMeasure == 1"
                             ng-init="feat.filterValue = [feat.optionValues[0].valueOption, feat.optionValues[1].valueOption]">

                            <h4>{{feat.name}}</h4>

                            <div ui-slider="{range: true}" ng-model="feat.filterValue"
                                 min="{{feat.optionValues[0].valueOption}}"
                                 max="{{feat.optionValues[1].valueOption}}"></div>
                            <b class="pull-left">{{feat.filterValue[0]}}</b>
                            <b class="pull-right">{{feat.filterValue[1]}}</b>
                        </div>

                        <!-- Feature com OPTIONS -->
                        <div class="filter" ng-if="feat.typeMeasure == 2">
                            <h4>{{feat.name}}</h4>

                            <div class="group-option clearfix" ng-repeat="opt in feat.optionValues">
                                <input type="radio" ng-model="feat.filterValue" value="{{opt.id}}"/><label
                                    class="option"><h6>{{opt.valueOption}}</h6></label>
                            </div>
                        </div>

                        <!-- Caso específico de Necessidades -->
                        <div class="text-center filter" ng-if="feat.typeMeasure == 3">
                            <h4>{{feat.name}}</h4>

                            <div ui-slider ng-model="feat.filterValue"
                                 min="0"
                                 max="100"></div>
                            <b class="pull-left">{{feat.filterValue}}%</b> <b class="pull-right">100%</b>
                        </div>

                    </div>

                    <!--/filter-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">

                <div align="center">
                    <paging class="large"
                            page="page"
                            page-size="pageSize"
                            total="total"
                            show-prev-next="true"
                            paging-action="doPaging(page, pageSize, total)">
                    </paging>
                </div>

                <div class="features_items"><!--features_items-->
                    <!--<h2 class="title text-center">Resultado</h2>-->

                    <div ng-repeat="product in productPage" class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img ng-src="images/products/{{product.image}}" alt=""/>

                                    <h2>{{product.price | currency}}</h2>

                                    <p>{{product.name}}</p>
                                    <a href="" class="btn btn-default add-to-cart">
                                        <i class="fa fa-shopping-cart"></i>Adicionar ao carrinho
                                    </a>
                                </div>
                                <div class="product-overlay">
                                    <img ng-src="images/products/{{product.image}}" alt=""/>

                                    <div class="overlay-content">
                                        <h2>{{product.price | currency}}</h2>

                                        <p>{{product.name}}</p>
                                        <a href="" class="btn btn-default add-to-cart"><i
                                                class="fa fa-shopping-cart"></i>Adicionar ao carrinho</a>
                                    </div>
                                </div>
                            </div>
                            <div class="choose">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b class="pull-left">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </b>
                                        <b class="pull-right">
                                            <i class="fa fa-thumbs-o-down"></i>
                                            <i class="fa fa-thumbs-o-up" style="padding-left: 15px;"></i>
                                        </b>
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href=""><i class="fa fa-plus-square"></i>Lista de Desejos</a></li>
                                        <li><a href=""><i class="fa fa-tasks"></i>Detalhes</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--features_items-->

                <div align="center">
                    <paging class="large"
                            page="page"
                            page-size="pageSize"
                            total="total"
                            show-prev-next="true"
                            paging-action="doPaging(page, pageSize, total)">
                    </paging>
                </div>
            </div>


        </div>
    </div>
</section>